@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/image/nfl/nfl.png" alt="NFL Logo" />
    <h1 class="display-4">National Football League (sort of)</h1>
    <p>This program is a simple Razor Pages webapp. It uses a SQLlite database on the backend and displays this NFL based information in a Single Page Application(SPA).</p>
</div>
